
<h1>Home Page</h1>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'register' %}">Register</a>
<a href="{% url 'groups' %}">Groups</a>
<a href="{% url 'account' %}">Account</a>


<h1>Login Page</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'register' %}">Register</a>


<h1>Register Page</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'login' %}">Login</a>


<h1>Groups Page</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'account' %}">Account</a>


<h1>Account Page</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'groups' %}">Groups</a>